body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("https://i.pinimg.com/originals/c6/d8/02/c6d80271f133ed7780ccab4ade470b9a.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
header {
  padding-left: 22em;
}
.title {
  font-family: 'Fredoka One', cursive;
  background-color: white;
  color: black;
  font-size: 5em;
}
.dancingTina {
  height: 5em;
}
.addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  /*background-color: #555;*/
}
.dancer{
  position:absolute;
}