body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("http://i.imgur.com/v1mR98F.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: rgb(33, 11, 83);
}

.header-container{
  background-color: white;
  opacity: 1;
}

header {
  margin-left: 22em;
  margin-top: 5em;
  margin-right: 19em;
  border-style: solid;
  border-width: 0.5em;
  border-color: yellow;
}
.title, .blink {
  font-family: 'Fredoka One', cursive;
  color: black;
  font-size: 5em;
  opacity: 1;
}
.dancingTina {
  height: 5em;
}
.addDancerButton{
  border-style: solid;
  background-color: white;
  font-family: sans-serif;
  text-decoration:none;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.method{
  border-style: solid;
  background-color: white;
  font-family: sans-serif;
  text-decoration:none;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.bottombar{
  height:32px;
  margin-left: 36em;
  margin-top: 0.3em;
}

a:hover{
  background-color: yellow;
}
.topbar{
  height:32px;
  margin-left: 30em;
  margin-top: 1em;
}

.dancer{

  position:absolute;
  height: 10em;
}
